<?xml version="1.0"?>
<!--
/**
 * @category    Scandiweb
 * @package     Scandiweb_Test
 * @author      Mariam Zakareishvili <info@scandiweb.com>
 * @copyright   Copyright (c) 2022 Scandiweb, Ltd (https://scandiweb.com)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Scandiweb_Test" setup_version="2.0.0">
    </module>
</config>
